<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartNet_Square_Note.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SmartNet_Square_Note.My.MySettings>
            <setting name="NoteColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AutoUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Comic Sans MS, 11.25pt</value>
            </setting>
            <setting name="NoteCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="ShowNotifyIcon" serializeAs="String">
                <value>True</value>
            </setting>
        </SmartNet_Square_Note.My.MySettings>
    </userSettings>
    <system.net>
      <defaultProxy useDefaultCredentials="true"/>
    </system.net>
</configuration>
